<div class="container">
    <div class="tabs-list">
      <button
        class="tab-trigger"
        [ngClass]="{'active': selectedSession === 'session1'}"
        (click)="setSession('session1',$event)"
      >
        Session 1
      </button>
      <button
        class="tab-trigger"
        [ngClass]="{'active': selectedSession === 'session2'}"
        (click)="setSession('session2',$event)"
      >
        Session 2
      </button>
    </div>
  
    <div class="tab-content">
      <div *ngIf="selectedSession === 'session1'">
        <div class="time-slots">
          <div class="slot-row">
            <ng-container *ngFor="let slot of session1Slots.slice(0, 6); let i = index">
              <div
                class="slot"
                [class.selected]="slot.selected"
                [class.rounded-left]="i === 0" 
                [class.rounded-right]="i === 5" 
                (click)="toggleSlot(slot)"
              >
                <span class="time-label">{{ slot.visTime }}</span>
                <span class="time-label-top">{{ slot.time }}</span>
              </div>
            </ng-container>
          </div>
          <div style="margin-top: 15px;" class="slot-row">
            <ng-container *ngFor="let slot of session1Slots.slice(6, 12); let i = index">
              <div
                class="slot"
                [class.selected]="slot.selected"
                [class.rounded-left]="i === 0"
                [class.rounded-right]="i === 5"
                (click)="toggleSlot(slot)"
              >
                <span class="time-label">{{ slot.visTime }}</span>
                <span class="time-label-top">{{ slot.time }}</span>
              </div>
            </ng-container> 
          </div>
        </div>
      </div>

      <div *ngIf="selectedSession === 'session2'">
        <div class="time-slots">
          <div class="slot-row">
            <ng-container *ngFor="let slot of session2Slots.slice(0, 6); let i = index">
              <div
                class="slot"
                [class.selected]="slot.selected"
                [class.rounded-left]="i === 0" 
                [class.rounded-right]="i === 5" 
                (click)="toggleSlot(slot)"
              >
              <span class="time-label">{{ slot.visTime }}</span>
              <span class="time-label-top">{{ slot.time }}</span>
            </div>
            </ng-container>
          </div>
          <div style="margin-top: 15px;" class="slot-row">
            <ng-container *ngFor="let slot of session2Slots.slice(6, 12); let i = index">
              <div
                class="slot"
                [class.selected]="slot.selected"
                [class.rounded-left]="i === 0"
                [class.rounded-right]="i === 5"
                (click)="toggleSlot(slot)"
              >
              <span class="time-label">{{ slot.visTime }}</span>
              <span class="time-label-top">{{ slot.time }}</span>
            </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div *ngIf="selectedSession === 'session2'">
    <div class="time-slots">
      <div>
        <ng-container *ngFor="let slot of session2Slots.slice(0, 6)">
          <div class="slot">
            <span class="time-label">{{ slot.time }}</span>
            <input
              type="checkbox"
              [checked]="slot.selected"
              (change)="toggleSlot(slot)"
              class="checkbox"
            />
          </div>
        </ng-container>
      </div>
      <div>
        <ng-container *ngFor="let slot of session2Slots.slice(6)">
          <div class="slot">
            <span class="time-label">{{ slot.time }}</span>
            <input
              type="checkbox"
              [checked]="slot.selected"
              (change)="toggleSlot(slot)"
              class="checkbox"
            />
          </div>
        </ng-container>
      </div>
    </div>
  </div> -->