<nav class="nav-bar">
    <h1 class="nav-logo">Conference Room Booking</h1>
    <ul class="nav-ul">
        <li class="nav-li">
            <a href="">Home</a>
        </li>
        <li class="nav-li">
            <a href="">About</a>
        </li>
        <li class="nav-li">
            <a href="">Contact</a>
        </li>
        <li class="nav-li">
            <a href="">Help</a>
        </li>
        <mat-icon class="nav-icons" style="margin-right: 30px;" matBadge="15">notifications</mat-icon>
        <mat-icon class="nav-icons" >account_circle</mat-icon>
        
    </ul>
</nav>
<router-outlet />
