<nav class="nav-bar">
    <h1 class="nav-logo">Conference Room Booking</h1>
    <ul class="nav-ul">
        <li class="nav-li">
            <a href="">Home</a>
        </li>
        <li class="nav-li">
            <a href="/about">About</a>
        </li>
        <li class="nav-li">
            <a href="">Contact</a> 
        </li>
        <li class="nav-li">
            <a href="">Help</a>
        </li>
        <!-- <mat-icon 
            class="nav-icons" 
            style="margin-right: 30px;" 
            [matBadge]="bookingCountSignal()"
            [matBadgeHidden]="bookingCountSignal() === 0">
            notifications
        </mat-icon> -->

        <mat-icon 
            class="nav-icons custom-badge" 
            style="margin-right: 30px;" 
            [matBadge]="count" 
        >
            notifications
        </mat-icon>
        <mat-icon class="nav-icons">account_circle</mat-icon>
    </ul>
</nav>
<router-outlet></router-outlet>
